/* Creating the background for my webpage */
body{
    background-color: aquamarine;
}
/* Formatting the h1 tags */
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

/* Formatting the paragraph */
p {
    text-align: justify;
    letter-spacing: 3px;
}